<div class="template-card">
  <div class="content">
    <div class="header">
      <div>
        <img src="./assets/svgs/draw-dot-on.svg" alt="">
        Active
      </div>
      <!-- <img src="./assets/svgs/edit.svg" class="edit-icon"> -->
    </div>
    <div class="body">
      {{ survey.name }}
    </div>
    <div class="footer">
      Published {{ survey.publish }} days ago
    </div>
  </div>
  <!-- <div class="options">
    <div class="icon-content">
      <img src="./assets/svgs/eye.svg">
      <label>14</label>
    </div>
    <div class="icon-content">
      <img src="./assets/svgs/message.svg">
      <label>10</label>
    </div>
  </div> -->
</div>
