<div class="modal-background">
  <div class="contenerdor-mensaje">
    <div class="title">
      <label>
        Change password
      </label>
    </div>
    <div>
      <div class="label-field">
        <label class="input-label">Current password</label>
        <div class="input-password">
          <input [type]="showPasswordCurrent" placeholder="Enter here" [(ngModel)]="currentPassword">
          <img src="./assets/icons/eye.png" alt="eye" class="eye" *ngIf="showPasswordCurrent == 'password'" (click)="onShowPassword('Current')">
          <img src="./assets/icons/eye-close.png" alt="eye-close" class="eye-close" *ngIf="showPasswordCurrent == 'text'"
            (click)="onShowPassword('Current')">
        </div>
      </div>
      <div class="label-field">
        <label class="input-label">New password</label>
        <div class="input-password">
          <input [type]="showPasswordNew" placeholder="Enter here" [(ngModel)]="newPassword">
          <img src="./assets/icons/eye.png" alt="eye" class="eye" *ngIf="showPasswordNew == 'password'" (click)="onShowPassword('New')">
          <img src="./assets/icons/eye-close.png" alt="eye-close" class="eye-close" *ngIf="showPasswordNew == 'text'"
            (click)="onShowPassword('New')">
        </div>
      </div>
      <div class="label-field">
        <label class="input-label">Confirm password</label>
        <div class="input-password">
          <input [type]="showPasswordConfirm" placeholder="Enter here" [(ngModel)]="confirmPassword">
          <img src="./assets/icons/eye.png" alt="eye" class="eye" *ngIf="showPasswordConfirm == 'password'" (click)="onShowPassword('Confirm')">
          <img src="./assets/icons/eye-close.png" alt="eye-close" class="eye-close" *ngIf="showPasswordConfirm == 'text'"
            (click)="onShowPassword('Confirm')">
        </div>
      </div>
      <div class="basic-button margin" (click)="onUpdate()">
        Update information
      </div>
      <div class="cancel-button margin" (click)="onClose()">
        Cancel
      </div>
    </div>
  </div>
</div>
