header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2000;
  padding: 18px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.header-img {
  height: 50px;
}

.header-message {
  p {
    margin: 5px 0;
    text-transform: uppercase;
    color: #f24c7a;
    text-align: right;
    font-weight: 500;
    font-family: Lemon milk;
  }
}

@media (max-width: 700px) {
  .header-img {
    height: 40px;
  }
  .header-message {
    font-size: 12px;
  }
}
